/* title: You Theme */
/* author: [ghplayer2000](https://github.com/ghplayer2000) */
/* icon: https://example.com/neon-icon.png */
/* description: Weird ahh theme for Groove Launcher */

#app {
  background: (var(--accent-color), 25%);
}

#app div.groove-app-tile div.groove-app-tile-icon  {
  background: #00FF00;
  border-radius: 100%;
}

#app div.groove-home-inner-tile {
  border-radius: 16px;
  background: #500011;
}

#app div.app-page-icon-banner {
  background: transparent !important;
}
