/* title: You Theme */
/* author: [ghplayer2000](https://github.com/ghplayer2000) */
/* icon: https://example.com/neon-icon.png */
/* description: Weird ahh theme for Groove Launcher */

#app {
  background: #141D23;
}

#app div.groove-app-tile div.groove-app-tile-icon  {
  background: #00FF00;
  border-radius: 16px;
