/* title: Rounded tiles */
/* author: [ghplayer2000](https://github.com/ghplayer2000) */
/* icon: https://ghplayer2000.github.io/gh-groove-themes/rounded.png */
/* description: Rounded tiles theme for Groove Launcher */

#app {
  background: var(--accent-color);
}

#app div.groove-app-tile div.groove-app-tile-icon  {
  border-radius: 8px;
}

#app div.groove-home-inner-tile {
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
}

#app div.groove-home-tile {
  background: #C0C0C0;
}


